.formControl {
  flex-direction: column;
  display: flex;
}

.input {
  border-radius: 6px;
  padding: 0.6rem 10px;
  border: 1px solid #ffffff;
  background-color: var(--primary-grayLigther);
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
}

.input:hover {
  border-color: var(--primary-black);
}

.input::placeholder {
  color: var(--primary-gray);
}

.input:focus {
  border: 1px solid var(--primary-green);
}

.label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--primary-text-color);
}
